<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cooper and Dan's Toybox</title>
  {{!-- Link To Bulma --}}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  {{!-- Link to Google Fonts --}}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
  {{!-- Link to CSS --}}
  <link type="text/css" rel="stylesheet" href="css/style.css">
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <section class="hero is-info">
      <div class="hero-body">
        <p class="title">
          Cooper and Dan's Toybox
        </p>
        <p class="subtitle">
          Subtitle
        </p>
      </div>
    </section>
    {{#if logged_in}}
      <nav>
        <button class="btn" id="logout">logout</button>
      </nav>
    {{/if}}
    <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/homepage">Homepage</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>
  </header>
      
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>

  <footer>
  </footer>

  {{#if logged_in}}
  <script src="./js/logout.js"></script>
  {{/if}}
</body>

</html>
