<section class="">
    <img src="/img/{{}}" alt="{{cat_item.description}}">
    <div class="catItem-title">
        <p>Item: {{cat_item.title}}</p>
    </div>
    <div class="catItem-details">
        <p>About: {{cat_item.description}}</p>
    </div>
    <div class="dogItem-price">
        <p>$ {{cat_item.price}}</p>
    </div>
</section>