
{{!-- Render Card Item --}}
{{#if logged_in}}
<div class="card column is-one-fifth">
    {{#each catItems as |cat_item|}}
    {{> catItem-details}}
    {{/each}}
</div>
{{else}}
<a href="/login"> You must login first to view this page</a>
{{/if}}