

{{!-- Render Card Item --}}
{{#if logged_in}}
<div class="card">
    {{#each dogItems as |dogitem|}}
    {{> dogItem-details}}
    {{/each}}
</div>
{{else}}
<a href="/login"> You must login first to view this page</a>
{{/if}}