

{{!-- Render Card Item --}}
{{#if logged_in}}
    <div class="columns is-centered">
        {{#each dogItems as |dogitem|}}
        {{> dogItem-details}}
        {{/each}}
    </div>
{{else}}
    <article class="message">
    <div class="message-header">
        <p>Log In Please ❤️</p>
    </div>
    <div class="message-body has-text-centered">
        <a href="/login"> <strong> You must login first to view this page </strong> </a>
    </div>
    </article>
{{/if}}