{{!-- Login Form --}}
<div class="box" id="login-up-box">
  <label class="form-title is-size-5">Login</label>
    <form class="field control form login-form">  
    <br>
    <div class="control has-icons-left">
      <input for="email-login" class="input" type="text" id="email-login" placeholder="Email">
      <div class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </div>
    </div>
    <br>
    <div class="control has-icons-left">
      <input for="password-login" class="input" type="password" id="password-login" placeholder="Password">
      <div class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </div>
    </div>
    <br>
    <button class="button is-normal is-primary is-fullwidth" type="submit">Login</button>
  </form>
</div>

{{!-- Sign Up Form --}}
<div class="box" id="sign-up-box">
  <label class="form-title is-size-5">Sign Up</label>
    <form class="field form signup-form">  
    <br>
    <div class="control has-icons-left">
      <input class="input" type="text" id="username-signup" placeholder="Username">
      <div class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </div>
    </div>
    <br>
    <div class="control has-icons-left">
      <input class="input" type="email" id="email-signup" placeholder="Email">
      <div class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </div>
    </div>
    <br>
    <div class="control has-icons-left">
      <input class="input" type="password" id="password-signup" placeholder="Password">
      <div class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </div>
    </div>
    <br>
    <button class="button is-normal is-info is-fullwidth" type="submit">Signup</button>
  </form>
</div>

<script src="./js/login.js"></script>